

@{
    ViewBag.Title = "Şifremi Unuttum | Link Kısaltma Servisi";

}


<div class="forgot-password-wrapper">

    <div class="forgot-password-banner">

    </div>

    <div id="toast-result" class="toast position-fixed top-0 start-50 translate-middle fs-5 text-white border-0 p-2" style="width: 800px; margin-top: 63px; z-index:1111;">
        <div class="d-flex align-items-center">
            <div class="toast-body d-flex align-items-center">


            </div>
            <button class="btn btn-close btn-close-white m-auto me-2" type="button" data-bs-dismiss="toast"></button>
        </div>

    </div>

    <div class="forgot-password-form-container position-absolute">

        <a href=@Url.Action("Login","Home") class="go-welcome-btn"><i class="fa-solid fa-caret-left"></i>Geri</a>





        <div class="forgot-password-form-inner-container">

            @Html.Partial("_ForgotPasswordSendEmailFormPartialView")


            <div class="loading-container d-flex justify-content-center align-items-center h-100 text-center d-none">
                <div class="spinner-grow text-warning me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-warning me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-warning me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>


            <div class="forgot-password-done">
                <i class="fa-solid fa-check text-success" style="font-size:100px;"></i>
            </div>


        </div>






        <hr class="p-1 m-0" />
        <div class="forgot-password-progress-title-container">
            <div class="progress-step">Email Gönderme</div>
            <div class="progress-step">Doğrulama Kodu</div>
            <div class="progress-step">Şifre Yenileme</div>
        </div>

        <div class="forgot-password-progress-bar-container">
            <p class="placeholder-wave w-100 p-0 m-0 " style="height:22px;">
                <span class="placeholder col-12  p-0 m-0 forgot-password-progress-bar" style="height:16px;"></span>
            </p>

        </div>







    </div>

</div>



<script src="~/Scripts/jquery-3.6.1.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/forgot_password_validation.js"></script>
<script>







</script>
