

<div class="forgot-password-form pt-5">

    <div class="forgot-password-form-title text-center position-relative">
        Yeni şifrenizi giriniz.
    </div>


    <div class="forgot-password-form-input-container">

        <i class="fa-solid fa-key"></i>

        <input id="newPassword" class="forgot-password-form-input" placeholder="Şifre" type="text" name="newPassword" value="" autocomplete="off" />

        <div id="newPasswordValidationMessage" class="forgot-password-form-input-validation-message"></div>

    </div>


    <div class="forgot-password-form-send-container">

        <button id="newPasswordSendBtn" type="button" class="forgot-password-form-send-btn">Gönder</button>

    </div>




</div>