


<div class="forgot-password-form pt-4">

    <div class="forgot-password-form-title text-center position-relative">
        Doğrulama Kodu için Email adresinizi giriniz.
    </div>


    <div class="forgot-password-form-input-container">


        <i class="fa-solid fa-envelope"></i>

        <input id="email" class="forgot-password-form-input" placeholder="Email" type="text" name="email" value="" autocomplete="off" autofocus />

        <div id="emailValidationMessage" class="forgot-password-form-input-validation-message"></div>

    </div>


    <div class="forgot-password-form-send-container">

        <button id="emailSendBtn" type="button" class="forgot-password-form-send-btn">Gönder</button>

    </div>




</div>