



<div class="forgot-password-form pt-4">

    <div class="forgot-password-form-title text-center position-relative">
        E-mail'inize gönderilen doğrulama kodunu giriniz.
    </div>


    <div class="forgot-password-form-input-container">

        <i class="fa-solid fa-unlock-keyhole"></i>

        <input maxlength="6" id="validationCode" class="forgot-password-form-input" placeholder="XXXXXX" type="text" name="validationCode" value="" autocomplete="off" style="text-transform:uppercase;" autofocus />

        <div id="validationCodeValidationMessage" class="forgot-password-form-input-validation-message"></div>

    </div>


    <div class="forgot-password-form-send-container">

        <button id="validationCodeSendBtn" type="button" class="forgot-password-form-send-btn">Gönder</button>

    </div>





</div>